.wrap {
  display: flex;
  align-items: center;
}

.spinner {
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border: solid 0.3em #333;
  border-top-color: tomato;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
