.wrap {
  max-width: 100%;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.items {
  padding: 1em;
}

.issue {
  display: flex;
  align-items: center;
}

.number {
  font-weight: 700;
}

.title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1em;
}
